<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MagicTrainingServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MagicTrainingWS/MagicTrainingService.asmx"
                binding="basicHttpBinding" bindingConfiguration="MagicTrainingServiceSoap"
                contract="MagicTrainingConsoleReference.MagicTrainingServiceSoap"
                name="MagicTrainingServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>